extends layout

block content
    h1= 'Can machine learning provide a different view of collections?'
    ul(class='nav nav-pills')
        each code in codes
            li(role='presentation')
                a(href='/department/' + code)= code

block scripts
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
