doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', crossorigin='anonymous')
  body
    block content
    svg(width='1613', height='760')
    form
      label
        input(type='radio', name='mode', value='sumBySize' checked='checked')
        span Sized by phrase importance
      label
        input(type='radio', name='mode', value='sumByCount')
        span Sized by phrase importance

    block scripts
