.container {
    width: 90%!important;
}

.form-inline {
    margin-bottom: 1em;
}

.form-group label {
    margin-right: 0.5em;
}

.form-group input[type=radio] {
    margin-right: 0.5em;
}

.phrase-control {
    margin-right: 0.5em;
}

svg {
    text-transform: capitalize;
}